{% exends 'listings/base.html %}


{% block content %}
<h2>A PROPOS DE NOUS </h2>
    <p>  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
         Provident facilis ipsa possimus, nihil labore voluptate quas vero quidem nulla ex.
         Provident labore ex possimus iusto harum ratione placeat quidem laudantium. 
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure eum, 
         dolorum cupiditate repellendus ad ducimus molestias soluta assumenda, porro,
         est nostrum aliquid eius mollitia tempore ullam ipsum temporibus amet. Sint.
    </p>

{% endblock %}